body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #343a40;
    font-weight: bold;
    font: 30px Tahoma, sans-serif;
}
p {
    text-align: left;
    margin-bottom: 30px;
    color: #343a40;
    font: Tahoma, sans-serif;
}

.table {
    margin-bottom: 30px;
}

.left-table {
    width: auto;
    margin-right: auto;
}

.promedio-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
    font-weight: bold;
    color: #343a40;
}

footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    background-color: #343a40;
    color: #fff;
}
.card {
    max-width: 400px;
    margin: auto;
}

.poster-img {
    width: 100%;
    height: auto;
}

#series-link {
    word-wrap: break-word;
    color: blue;
    font:Tahoma, sans-serif;
}